@import '~@lumino/default-theme/style/index.css';

body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menuBar {
  flex: 0 0 auto;
}

#main {
  flex: 1 1 auto;
}

#palette {
  min-width: 300px;
  border-right: 1px solid #ddd;
}

#dock {
  padding: 4px;
}

.content {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;

  /* padding: 8px; */
  border: 1px solid #c0c0c0;
  border-top: none;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.urlbar {
  display: flex;
  flex-direction: row;
}

.urlbar input.url {
  flex-grow: 10;
}

.urlbar input.fragment {
  flex-grow: 1;
}

.cc-frame {
  position: relative;
}

.cc-frame video {
  max-width: 100%;
}

.cc-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.cc-frame .eyelid {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f000;
  display: none;
}

.cc-frame .eyelid.visible {
  display: block;
}

.cc-frame-contents {
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

.content > div {
  flex: 1 1 auto;

  /* border: 1px solid #C0C0C0; */
  overflow: auto;
}

.content input {
  margin: 8px;
}

/* override the font-close f00d when unsaved */
.unsaved .lm-TabBar-tabCloseIcon:before {
  content: '\f111' !important;
  font-family: FontAwesome;
}